@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth !important;
  scroll-padding-top: 80px; /* Add padding to account for fixed navbar */
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  @apply bg-charcoal text-light;
  overflow-y: auto;
  height: auto;
  margin: 0;
  padding: 0;
}
